<!DOCTYPE html>
<html>
<head>
    <link href="/Player.css" rel="stylesheet" type="text/css">
</head>
<body >
    <table style="border: 5px solid red; width:100%;">
        <tr>
            <td style="width: 10%;">
                <a href="/userprofile">
                    <%if(locals.link){%>
                        <button>
                        <img src=<%=link%>  onerror="this.onerror=null; this.src='/images/userimage.jpg'" width="100px" height="100px">
                        </button>
                    <%} else {%>
                        <button>
                        <img src="/images/userimage.jpg"  width="100px" height="100px">
                        </button>
                    <%}%>
                </a>
                <%if(locals.verifMsg){%>
                <p><%=verifMsg%></p>
                <%}%>
            </td>
            <td style="width:9% ;">
                <img src="/images/appTitle.png"  width="120px" height="80px">
                </td>

               <td style="width:9% ;">
                    <img src="/images/tff.jpg"  width="100px" height="100px">
                 </td>
            <td style="width:50% ;text-align: right;">
            <form action="/mainpage" method="post" >
            <input type="text" id="name" name="name" style="width: 300px;height:30px">

            </td>
            <td style="width: 10%;text-align: left;">
            <input type="image" src="images/searchimage.png" style="width: 50px;height:50px" alt="submit"> </input>
            </form>
            </td>
            <td>
            <form action="/filterplayers" method="post">
                <input type="submit" name ="position" value="GK">
                <input type="submit" name ="position" value="DF">
                <input type="submit" name ="position" value="MF">
                <input type="submit" name ="position" value="ST">

            </form>

            <form action="/sortedplayers" method="post">
                <input style="margin-left: 40%;margin-right: 40%;" type="submit" value="Sort Players">
            </form>

            </td>
        </tr>
    </table>
    <div style="width: 100%;">
        <div style="width: 10%;border:5px solid red;padding-block: 10px;display: inline-block;vertical-align: top;">
          <a href="/mainpage"> <button style="width: 100%;height:30px">players</button></a>
            <a href="/rankings">  <button style="width: 100%;height: 30px;">rankings</button></a>



        </div >
        <div style="width: 88%;border:5px solid red;padding-block: 10px; display: inline-block;">

            
            <form action="/filterTeamPlayers" method="post">
                <label for="team">Choose a team:</label>
                <select name="team" >
                  <option name ="team" value="Galatasaray">Galatasaray</option>
                  <option  name ="team" value="Fenerbahce">Fenerbahce</option>
                  <option name ="team" value="Besiktas">Besiktas</option>
                  <option name ="team" value="Basaksehir">Basaksehir</option>
                  <option name ="team" value="Trabzonspor">Trabzonspor</option>
                  <option name ="team" value="Atalanta">Atalanta</option>
                  <option name ="team" value="Alanyaspor">Alanyaspor</option>
                  <option name ="team" value="Hoffenheim">Hoffenheim</option>
                  <option name ="team" value="Sassuolo">Sassuolo</option>
                  <option name ="team" value="Inter">Inter</option>
                  <option name ="team" value="Stade Ranneis FC">Stade Ranneis FC</option>
                  <option name ="team" value="As Roma">As Roma</option>
                  <option name ="team" value="Getafe Fc">Getafe Fc</option>
                  <option name ="team" value="Fortuna Sittard">Fortuna Sittard</option>
                  <option name ="team" value="Marseille">Marseille</option>
                  <option name ="team" value="Leicester City">Leicester City</option>
                </select>
                <br><br>
                <input type="submit" value="Submit">
              </form>



              <% if(locals.team) {%>
                <table >
                    <tr>
                      <%if(locals.arr){%>
                      <%arr.forEach(player => {%>
                          
                              <% if(team=="") {%>
                                  <a href="/playerprofile/:<%= player.fullname%>" >
                                      <button class="playerbutton">
                                          <img src="images/userimage.jpg"   width="200px" height="200px">
                                          <p style="font-size: 15px;" > <%= player.fullname%></p>
                                      </button>
                                  </a>
                              <%} else{%>
                                  <% if(player.team==team){ %>
                                      <a href="/playerprofile/:<%= player.fullname%>" >
                                          <button class="playerbutton">
                                              <img src="images/userimage.jpg"   width="200px" height="200px">
                                              <p style="font-size: 15px;" > <%= player.fullname%></p>
    
                                          </button>
                                      </a>
                                  <% }%>
                              <% } %>
                          
                      <%})%>
                      <%}%>
    
                    </tr>
    
    
                </table>
                <%} else{%>
                    <table >
                        <tr>
                          <%if(locals.arr){%>
                          <%arr.forEach(player => {%>
                              <% if(player.fullname.search(searchtext)!=-1){ %>
                                  <% if(position=="") {%>
                                      <a href="/playerprofile/:<%= player.fullname%>" >
                                          <button class="playerbutton">
                                              <img src="images/userimage.jpg"   width="200px" height="200px">
                                              <p style="font-size: 15px;" > <%= player.fullname%></p>
                                          </button>
                                      </a>
                                  <%} else{%>
                                      <% if(player.position==position){ %>
                                          <a href="/playerprofile/:<%= player.fullname%>" >
                                              <button class="playerbutton">
                                                  <img src="images/userimage.jpg"   width="200px" height="200px">
                                                  <p style="font-size: 15px;" > <%= player.fullname%></p>
        
                                              </button>
                                          </a>
                                      <% }%>
                                  <% } %>
                              <% }%>
                          <%})%>
                          <%}%>
        
                        </tr>
        
        
                    </table>
                    <% }%>


              

           

        </div>
    </div>

</body>


</html>
