<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
        function fav(){
          var xhttp = new XMLHttpRequest();
          xhttp.open("POST", "/favorite", true);
          xhttp.setRequestHeader("Content-Type", "application/json");
          xhttp.onreadystatechange = function() {
             if (this.readyState == 4 && this.status == 200) {
               // Response
               var response = this.responseText;
             }
          };
          var data = {name:window.location.pathname.split("/").pop()};
          console.log(window.location.pathname.split("/").pop());
          xhttp.send(JSON.stringify(data));
        }
    </script>
    <style>
    .checked {
    color: orange;
    }
    </style>
</head>

<html>

    <link href="/Player.css" rel="stylesheet" type="text/css">
    <body>
        <a href="/mainpage">
            <button class="gobackbutton"></button>
        </a>
        <p> Go Back </p>

        <div class="parent">




            <div class="child2"  style="width: 100%; border: 5px solid red;padding: 10px; margin-left: -190px;">
              <iframe width="100%" height="550" frameborder="0" scrolling="no" src=<%=iframelink%>>
              </iframe></div>
              <%if(locals.favored){%>
                <%if(locals.favored == true){%>
                  <div class="">
                    <button type="button" name="button" onclick="fav();"><p> Fav This Player: <span id="spanToClick" class="fa fa-star checked"></span></p></button>
                  </div>
                <%}else{%>
                  <div class="">
                    <button type="button" name="button" onclick="fav();"><p> Fav This Player: <span id="spanToClick" class="fa fa-star"></span></p></button>
                  </div>
                <%}%>
              <%}else{%>
                <div class="">
                  <button type="button" name="button" onclick="fav();"><p> Fav This Player: <span id="spanToClick" class="fa fa-star"></span></p></button>
                </div>
              <%}%>
        </div>



        <br></br>
        <div style="width: 100px;height: 50px; border: 5px solid red;margin: auto; text-align: center;">

            <% if(average==-1) {%>
                <p style="font-size:20px ;margin: 5px;" ><b>No Ratings</b>  </p>

            <% } else{ %>
                <p style="font-size:25px ;margin: 15px;" ><b><%=average%>/10</b>  </p>

            <% }%>


        </div>
        <% if(commenttype=="add"){%>
            <a href="/addcomment/:<%= pName%>">
                <button class="buttonred"> Add Comment And Rating </button>
        <% } else{ %>
            <a href="/editcomment/:<%= pName%>">
                <button class="buttonred"> Edit Comment And Rating </button>
        <% }%>

        </a>
        <br></br>

        <table style="width: 80%; margin-left: 10%;table-layout: fixed;">
            <td style="vertical-align: top;">
                <div style="border:2px solid red ;padding-bottom: 20px;padding-top: 10px;">
                    <header style="font-size: 30px;text-align: center;"> Verified User Comments </header>

                    <form action="/playerprofile/:<%=pName%>" method="post">
                        <input style="margin-left: 40%;margin-right: 40%;" type="submit" value="Followings">
                    </form>

                    <ol>
                        <%verifiedcomments.forEach(commentobj => {%>
                            <li style="padding: 10px;">

                                <a href="/verifieduserprofile/:<%=commentobj.commenter%>">
                                    <b><%=commentobj.commenter%></b>
                                </a>:
                                &nbsp<%=commentobj.comment%>
                                &nbsp&nbsp Rating: <%=commentobj.rating%>/10

                            </li>

                        <%})%>

                      </ol>
                </div>

            </td>
            <td style="vertical-align: top;">
                <div style="border:2px solid red ;padding-bottom: 20px;padding-top: 10px;">
                    <header style="font-size: 30px;text-align: center;"> Standard User Comments </header>
                    <form action="/playerprofile/:<%=pName%>" method="post">
                        <input style="margin-left: 40%;margin-right: 40%;" type="submit" value="Sort Comments">
                    </form>
                    <ol>
                        <%standardcomments.forEach(commentobj => {%>
                            <li style="padding: 10px;"><%=commentobj.commenter%>: &nbsp<%=commentobj.comment%></li>

                        <%})%>


                      </ol>

                </div>
            </td>


        </table>


    </body>



</html>
