<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<html>

    <link href="/Player.css" rel="stylesheet" type="text/css">
    <body>
        <a href="/mainpage">
            <button class="gobackbutton"></button>
        </a>    
        <p> Go Back </p>

        <div class="parent">
            
            <div class="child1">
                <img src="/images/userimage.jpg" class="centerimage"  width="30%" height="30%">
    
            </div>
    
    
            <div class="child2"  style="width: 20%; border: 5px solid red;padding: 10px;">
                <p class="centertext" ><b>Player Info</b> </p>
                <p> Name: <%=pName%></p>
                <p> Age: <%=pAge%></p>
                <p> Current Club: Çaykur Rize Spor</p>
                <p> Position: CM </p>
                
            </div>
    

        </div>
        

        <div style="width: 500px; border: 5px solid red;padding: 10px;margin: auto;">
            <p class="centertext" ><b>Player Club Stats</b> </p>
            <p> goals:10</p>
            <p> assits:10</p>

        </div>
        
        <br></br>
        <div style="width: 100px;height: 50px; border: 5px solid red;margin: auto; text-align: center;">

            <% if(average==-1) {%>
                <p style="font-size:20px ;margin: 5px;" ><b>No Ratings</b>  </p>

            <% } else{ %>
                <p style="font-size:25px ;margin: 15px;" ><b><%=average%>/10</b>  </p>
                
            <% }%>
            

        </div>
        <% if(commenttype=="add"){%>
            <a href="/addcomment/:<%= pName%>">
                <button class="buttonred"> Add Comment And Rating </button>
        <% } else{ %>
            <a href="/editcomment/:<%= pName%>">
                <button class="buttonred"> Edit Comment And Rating </button>
        <% }%>

        </a>
        <br></br>
        <table style="width: 80%; margin-left: 10%;table-layout: fixed;">
            <td style="vertical-align: top;">
                <div style="border:2px solid red ;padding-bottom: 20px;padding-top: 10px;">
                    <header style="font-size: 30px;text-align: center;"> Verified User Comments </header>
                    <ol>
                        <%verifiedcomments.forEach(commentobj => {%>
                            <li style="padding: 10px;">

                                <a href="/verifieduserprofile/:<%=commentobj.commenter%>">
                                    <b><%=commentobj.commenter%></b>
                                </a>:
                                &nbsp<%=commentobj.comment%>
                                &nbsp&nbsp Rating: <%=commentobj.rating%>/10

                            </li>

                        <%})%>
                        
                      </ol>
                </div>

            </td>
            <td style="vertical-align: top;">
                <div style="border:2px solid red ;padding-bottom: 20px;padding-top: 10px;">
                    <header style="font-size: 30px;text-align: center;"> Standard User Comments </header>
                    <form action="/playerprofile/:<%=pName%>" method="post">
                        <input style="margin-left: 40%;margin-right: 40%;" type="submit" value="Sort Comments">
                    </form>
                    <ol>
                        <%standardcomments.forEach(commentobj => {%>
                            <li style="padding: 10px;"><%=commentobj.commenter%>: &nbsp<%=commentobj.comment%></li>

                        <%})%>
                        

                      </ol>

                </div>
            </td>


        </table>


    </body>



</html>