<!DOCTYPE html>
<html>
<head>
    <link href="/Player.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Profile Info</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/style.css">

    <script>
        function showform() {
            var x = document.getElementById("textboxContainer");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <a href="/mainpage">
      <button class="gobackbutton"></button>
  </a>
  <p> Go Back </p>

    <div class="container">
        <div class="wrapper">
                <br></br>
                <div>
                    <div style="display: inline-block;margin-right: 20%;margin-left: 0%;width: 15%;">

                        <%if(locals.userimage){%>
                            <img src=<%=userimage%> style="border:5px solid red" onerror="this.onerror=null; this.src='/images/userimage.jpg'" width="150px" height="150px">
                        <%} else {%>
                            <img src="/images/userimage.jpg"  width="150px" height="150px">
                        <%}%>
                        <button onclick="showform()" style="margin-left: 20px;">Upload Image</button>
                        
                        <form action="/enterlink" method="post" id="textboxContainer" style="display: none;">
                            <input type="text" class="form-control" name="link" placeholder="Enter link" />
                            <button style="background-color:red;margin-left: 25%;color: white;"type="submit">Submit</button>    
                        </form>
                        

                        <br></br>
                        <label for="userp">Username:  </label> <p name='userp'><%=username%></p>
                        <label for="emailp">Email:</label><p name='emailp'><%=email%></p>
                        <label for="passwordp">Password:</label><p name='passwordp'><%=password%></p>
                        <form action="logout" method="post">
                            <button style="float:left; background-color:red;"type="submit" name="LogoutButton" value="Logout">Logout</button>
                        </form>
                    </div>
                    <div style="display: inline-block; vertical-align: top;width: 10%;">
                        <h1> Comments </h1>
                        <%if(locals.commentarray){%>
                          <%commentarray.forEach(commentobj => {%>

                              <div style="border-radius: 10px;border:5px solid red;width: 600px;height:100px">
                                  <p style="padding: 5px;font-size: 22px;">To <%=commentobj.playername%>:</p>
                                  <p style="padding: 5px;font-size:16px;"><%=commentobj.comment%></p>

                              </div>

                          <%})%>
                        <%}%>

                    </div>
                </div>



                <br></br>
                <br></br>
            <form action="/updateuser" method="post" name="Login_Form" class="form-signin">

                <h3 style="text-align: center;">Update Profile</h3>

                <label style="margin-top:10px;"  for="userp">Username:  </label>
                <input type="text" class="form-control" name="username" placeholder="Username" />
                <label for="email">Email:  </label>
                <input type="text" class="form-control" name="email" placeholder="Email Address" autofocus="" />
                <label for="password">Password:  </label>
                <input type="password" class="form-control" name="password" placeholder="Password"/>


                <button style="margin-top:30px;" class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Update Info</button>


            </form>
            <form action="/deleteuser" method="post" name="Login_Form" class="form-signin">
              <button style="margin-top:30px; background-color:red;" class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Delete User</button>
            </form>
        </div>
        <br></br>
        <form action="/report" method="post">
            <textarea id="comment" class="commenttextarea" name="reportmsg" rows="5" cols="40" minlength="20" maxlength="200" required placeholder="Report the bug" style="resize: none;margin-left: 30%;"></textarea>
            <button style="margin-top:30px; background-color:red;" class="buttonred" name="Submit" value="Login" type="Submit">Submit Report</button>


        </form>
    </div>
</body>
</html>
